@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F7F7F5;
  color: #2F3437;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
